{% extends "users/base.html" %}

{% block banner %}  
    <div style="display: inline-flex" > 
        <img src="media/iu_logo.png" alt="IU logo" width="20%" height="20%">
        <img src="media/bme_logo.jpg" alt="BME logo" width="20%" height="20%">
    </div>
{% endblock banner %}

{% block title %} Home Page {% endblock title%}
{% block content %}
    <div class="jumbotron">        
        <h1 class="display-4">Welcome, {{user.first_name.title|default:'Guest'}}</h1>
        <p class="lead">
            This is Chest X-ray Web Application version 2, from BME-IU.
        </p>
        <hr class="my-4">
    </div>

    <div class="container">
        <div class="row border-bottom border-5 my-5"> 
            <h2 class="my-0">
                News
            </h2>
        </div>

        <div class="row"> 
            <div class="col-4"> 
                <a href="{% url 'news_1' %}">
                    <img src="https://picsum.photos/id/237/200/300" height="50%" width="100%">
                </a>
                <h4> <a href="{% url 'news_1' %}" style="color:black; text-decoration : none" onmouseover="this.style.color='blue';" onmouseout="this.style.color='black';"> Lorem ipsum dolor sit amet, consectetur adipiscing elit. </a> </h4>
                <p class="lead"> 08/06/2023 </p>
            </div>

            <div class="col-4"> 
                <a href="{% url 'news_2' %}">
                    <img src="https://picsum.photos/id/238/200/300" height="50%" width="100%">
                </a>
                <h4> <a href="{% url 'news_2' %}" style="color:black; text-decoration : none" onmouseover="this.style.color='blue';" onmouseout="this.style.color='black';" > Lorem ipsum dolor sit amet, consectetur adipiscing elit. </a> </h4>
                <p class="lead"> 08/06/2023 </p>
            </div>

            <div class="col-4">
                <a href="{% url 'news_3' %}">
                    <img src="https://picsum.photos/id/239/200/300" height="50%" width="100%">
                </a>
                <h4> <a href="{% url 'news_3' %}" style="color:black; text-decoration : none" onmouseover="this.style.color='blue';" onmouseout="this.style.color='black';" > Lorem ipsum dolor sit amet, consectetur adipiscing elit. </a> </h4>
                <p class="lead"> 08/06/2023 </p>
            </div>
        </div>
    </div>

{% endblock content %}