{% extends "users/base.html" %}

{% block banner %}  
    <div style="display: inline-flex" > 
        <img src="../../../../media/iu_logo.png" alt="IU logo" width="20%" height="20%">
        <img src="../../../../media/bme_logo.jpg" alt="BME logo" width="20%" height="20%">
    </div>
{% endblock banner %}

{% block title %} News 2 Page {% endblock title%}
{% block content %}
    <div class="container">
        <div class="row"> 
            <div class="col-8"> 
                <div class="py-2"> 
                    <h1>Azure Solution Architecture</h1>
                    <p class="lead" style="font-size: 12px;  font-style: italic;"> 08/06/2023 </p>
                </div>

                <h2>1. Solution architecture</h2>
                <p>
                    In the figure 1 below show how this study deploy model on build DL Lifecyle on Azure. 
                </p>

                <div class="d-flex justify-content-center">
                    <img  src="../../../../media/report_images/azure/figure1.png" width="100%">  
                    {% comment %} height="50%" width="50%"> {% endcomment %}
                </div>

                <p class="d-flex justify-content-center"> 
                    Figure 1. Solution architecture on Azure 
                </p>

                <p>
                    Web application use front-end by HTML, CSS, JS, Bootstrap and back-end: Python – Django, 
                    then deploy application on azure by Azure Web Service via Docker. 
                    In Azure Web Service support firewall by network security group (NSG) and ability to scalble by Azure service plan. 
                    In this study is used only single region such as Viet Nam, so just apply vertical scaling with 
                    Azure web service will increase hardware infrastructure as CPU / RAM / Disk when the high workload. 
                </p>

                <div class="d-flex justify-content-center">
                    <img  src="../../../../media/report_images/azure/figure2.png" width="100%">  
                    {% comment %} height="50%" width="50%"> {% endcomment %}
                </div>

                <p class="d-flex justify-content-center"> 
                    Figure 2. Website application 
                </p>

                <p> 
                    Data lake where store all non-relational data such as image. 
                    In this study use Data lake to store CXR image corresponding to user by using Azure Blob Storage with Data Lake Gen2 engine. 
                </p>

                <div class="d-flex justify-content-center">
                    <img  src="../../../../media/report_images/azure/figure3.png" width="50%">  
                    {% comment %} height="50%" width="50%"> {% endcomment %}
                </div>

                <p class="d-flex justify-content-center"> 
                    Figure 3. Data lake 
                </p>

                <p>
                    Database is used to store all relational data such as user information, output of prediction (disease name, disease location, confident score, …)
                    , CXR information, etc. In this study use Azure SQL Sever for database and apply security group service for increase data security. 
                </p>

                <div class="d-flex justify-content-center">
                    <img  src="../../../../media/report_images/azure/figure4.png" width="80%">  
                    {% comment %} height="50%" width="50%"> {% endcomment %}
                </div>

                <p class="d-flex justify-content-center"> 
                    Figure 4. Database 
                </p>

                <p>
                    AI hub where is the best model deployment to endpoint and can communicate via RestAPI. 
                    In this study use Python with FastAPI for deploy model to endpoint and use Azure VM as the server to run this endpoint. 
                </p>

                <div class="d-flex justify-content-center">
                    <img  src="../../../../media/report_images/azure/figure5.png" width="80%">  
                    {% comment %} height="50%" width="50%"> {% endcomment %}
                </div>

                <p class="d-flex justify-content-center"> 
                    Figure 5. AI hub 
                </p>

                <p>
                    If the backend from web application directly send request to Azure VM in AI hub with many concurrent request such as 100 request. 
                    Azure VM must process many thing at the same time. Then they can lead to shut down Azure VM or missing some of requests. 
                    To prevent this case, in this study design distrusted messaging system that can handle each request as message by placing it into queue pipeline. 
                    And the Azure VM from AI hub can process each message in order without concurrent processing. 
                    The distributed messaging system is built by using Logic app and storage queue service. 
                </p>

                <div class="d-flex justify-content-center">
                    <img  src="../../../../media/report_images/azure/figure6.png" width="100%">  
                    {% comment %} height="50%" width="50%"> {% endcomment %}
                </div>

                <p class="d-flex justify-content-center"> 
                    Figure 6. Distributed messaging system 
                </p>

                <p>
                    Data warehouse (DWH) is the same database where store relational database. 
                    But different with database serve for online-transaction-processing (OLTP), the DWH serve for online-analysis-processing (OLAP), 
                    that is used for analysis purpose therefore the schema, relationship and organization is different with the way to use database. 
                    DWH have many layer to storage with staging, Dim, Fact and data mart layer. 
                    In this study use Azure Data Factory for extract-transform-load (ETL) data between layers in DWH and migrate data from database to staging layer. 
                </p>

                <div class="d-flex justify-content-center">
                    <img  src="../../../../media/report_images/azure/figure7.png" width="100%">  
                    {% comment %} height="50%" width="50%"> {% endcomment %}
                </div>

                <p class="d-flex justify-content-center"> 
                    Figure 7. Data Warehouse 
                </p>

                <p>
                    Business intelligence is tool to visualize data with analysis purpose. 
                    In this study is used PowerBI desktop and PowerBI service. 
                    To establish connection between PowerBI service and data from DWH need a server host work as gateway connection. 
                    Therefore, this server host is call bastion host by using Azure VM service.  
                </p>

                <div class="d-flex justify-content-center">
                    <img  src="../../../../media/report_images/azure/figure8.png" width="100%">  
                    {% comment %} height="50%" width="50%"> {% endcomment %}
                </div>

                <p class="d-flex justify-content-center"> 
                    Figure 8. Business intelligence  
                </p>

                <h2>2. Result</h2>
                <p> Logic app structure: </p>
                <div class="d-flex justify-content-center">
                    <img  src="../../../../media/report_images/azure/figure9.png" width="100%">  
                    {% comment %} height="50%" width="50%"> {% endcomment %}
                </div>

                <p class="d-flex justify-content-center"> 
                    Figure 9. Logic app 
                </p>

                <p>Power BI service: </p>
                <div class="d-flex justify-content-center">
                    <img  src="../../../../media/report_images/azure/figure10.png" width="100%">  
                    {% comment %} height="50%" width="50%"> {% endcomment %}
                </div>

                <p class="d-flex justify-content-center"> 
                    Figure 10. PowerBI: CXR prediction analysis 
                </p>

                <div class="d-flex justify-content-center">
                    <img  src="../../../../media/report_images/azure/figure11.png" width="100%">  
                    {% comment %} height="50%" width="50%"> {% endcomment %}
                </div>

                <p class="d-flex justify-content-center"> 
                    Figure 11. Traffic analysis 
                </p>

                <p>
                    Most of recent studies just build ML lifecycle that is hard to apply for deep learning models. 
                    In this study not only implement model to cloud but also build data pipeline, 
                    data warehouse and business intelligence that support internal team to analyze, monitor and maintain model overtime. 
                    Beside that, study’s architecture design the efficient way to capture CXR data from website application and store it into data lake. 
                    Those CXR can be analyze or label to use it retrain model. 
                </p>

                <p>
                    In this architecture easy to integrate another AI models application by building endpoint. 
                </p>

                <div class="d-flex justify-content-center">
                    <img  src="../../../../media/report_images/azure/figure12.png" width="50%">  
                    {% comment %} height="50%" width="50%"> {% endcomment %}
                </div>

                <p class="d-flex justify-content-center"> 
                    Figure 12. AI hub scalability 
                </p>
            
            </div>

            <div class="col-4">
                <h5 class="my-2"> News list </h5>
                <ul class="list-group my-2">
                    <li class="list-group-item py-1 my-1 px-0 align-items-center border-top-0 border-left-0 border-right-0">
                        <h6> <a href="{% url 'news_1' %}" style="color:black; text-decoration : none" onmouseover="this.style.color='blue';" onmouseout="this.style.color='black';">Methodology in chest XRay application</a> </h6>
                        <p class="lead mb-1" style="font-size: 12px;  font-style: italic;"> 08/06/2023 </p>
                    </li>

                    {% comment %} <hr> {% endcomment %}

                    <li class="list-group-item py-1 my-1 px-0 align-items-center border-top-0 border-left-0 border-right-0">
                        <h6> <a href="{% url 'news_2' %}" style="color:black; text-decoration : none" onmouseover="this.style.color='blue';" onmouseout="this.style.color='black';">Azure Solution Architecture</a> </h6>
                        <p class="lead mb-1" style="font-size: 12px;  font-style: italic;"> 09/06/2023 </p>
                    </li>

                    {% comment %} <hr> {% endcomment %}
                </ul>
                
            </div>
        </div>
    </div>

{% endblock content %}