{% extends "users/base.html" %}

{% block banner %}  
    <div style="display: inline-flex" > 
        <img src="../../../../media/iu_logo.png" alt="IU logo" width="20%" height="20%">
        <img src="../../../../media/bme_logo.jpg" alt="BME logo" width="20%" height="20%">
    </div>
{% endblock banner %}

{% block title %}Profile Page{% endblock title %}
{% block content %}
    <div class="row my-3 p-3">
        <img class="rounded-circle account-img" src="{{ user.profile.avatar.url }} " style="cursor: pointer;"/>
    </div>
    {% if user_form.errors %}
        <div class="alert alert-danger alert-dismissible" role="alert">
            <div id="form_errors">
                {% for key, value in user_form.errors.items %}
                    <strong>{{ value }}</strong>
                {% endfor %}
            </div>
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
    {% endif %}
    <div class="form-content">
        <form method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="form-row">
                <div class="col-md-5">
                    <div class="form-group">
                        <label class="small mb-1">User Name:</label>
                            {{ user_form.username }}
                        <label class="small mb-1">Email:</label>
                            {{ user_form.email }}
                    </div>
                    <div class="form-group">
                        <a href="{% url 'password_change' %}">Change Password</a>
                        <hr>
                        <label class="small mb-1">Change Avatar:</label>
                        {{ profile_form.avatar }}
                    </div>
                    <label class="small mb-1">Bio:</label> {{ profile_form.bio }}
                </div>
            </div>
            <br><br>
            <button type="submit" class="btn btn-dark btn-lg">Save Changes</button>
            <button type="reset" class="btn btn-dark btn-lg">Reset</button>
        </form>
    </div>

    <hr>
    <div> 
        <p> User's medical imaging data. </p>
        <!-- <img src="../../../../media/chest-xray.jpg" alt="medical image">  -->

        <ul class="list-group">
            <div style="overflow-y: auto; height:150px; ">
                <li class="list-group-item"> <a href="https://www.w3schools.com"> Image 1 </a> </li> 
                <li class="list-group-item"> <a href="https://www.w3schools.com"> Image 2 </a> </li> 
                <li class="list-group-item"> <a href="https://www.w3schools.com"> Image 3 </a> </li> 
                <li class="list-group-item"> <a href="https://www.w3schools.com"> Image 1 </a> </li> 
                <li class="list-group-item"> <a href="https://www.w3schools.com"> Image 2 </a> </li> 
                <li class="list-group-item"> <a href="https://www.w3schools.com"> Image 3 </a> </li> 
                <li class="list-group-item"> <a href="https://www.w3schools.com"> Image 1 </a> </li> 
                <li class="list-group-item"> <a href="https://www.w3schools.com"> Image 2 </a> </li> 
                <li class="list-group-item"> <a href="https://www.w3schools.com"> Image 3 </a> </li> 
            </div>
        </ul>

        <!-- <ul >
            <li class="list-group-item active">Cras justo odio</li>
            <li class="list-group-item">Dapibus ac facilisis in</li>
            <li class="list-group-item">Morbi leo risus</li>
            <li class="list-group-item">Porta ac consectetur ac</li>
            <li class="list-group-item">Vestibulum at eros</li>
          </ul> -->
        
    </div>
{% endblock content %}