{% extends "users/base.html" %}

{% block banner %}  
    <div style="display: inline-flex" > 
        <img src="../../../../media/iu_logo.png" alt="IU logo" width="20%" height="20%">
        <img src="../../../../media/bme_logo.jpg" alt="BME logo" width="20%" height="20%">
    </div>
{% endblock banner %}

{% block title %} Test Page {% endblock title%}

{% block content %}
    <ul class="list-group">
        <li class="list-group-item">Cras justo odio</li>
        <li class="list-group-item">Dapibus ac facilisis in</li>
        <li class="list-group-item">Morbi leo risus</li>
        <li class="list-group-item">Porta ac consectetur ac</li>
        <li class="list-group-item">Vestibulum at eros</li>
    </ul>
{% endblock %}